@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --black: #2A293E;
  --background: #f8f4e5;
  --backgroundShadow: #BEAEE2;
  --lila: #F7DBF0;
  --radius: 15px;
  --robotoMono: 'Roboto Mono', monospace;
  --smooth: all ease-in-out 0.3s;

}
body {
  font-family: var(--robotoMono);
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--lila);
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  

}
.app {
  margin: 5em auto;
  padding: 1em;
  background-color: var(--background);
  max-width: 550px;
  display: flex;
  flex-direction: column ;
  border: 2px solid var(--black);
  align-items: center;
  box-shadow: 15px 15px 1px var(--backgroundShadow), 15px 15px 0 2px var(--black); 
  
  
}


.form-task {
  margin: 1em 0;
}

.input-task {
  padding: .5em 1em;
  margin: 0 1em;
  border: none;
  border-bottom: 5px solid var(--black);
  width: 300px;
  font-size: 16px;
  outline: none;
  background: transparent;
  font-family: var(--robotoMono);
}

.input-task:focus {
  outline: none;
  transition: var(--smooth);
  border-bottom: 5px solid var(--backgroundShadow);
}
.btn-submit {
  padding: .5em 1em;
  background: transparent;
  border: 2px solid var(--black);
  box-shadow: 3px 3px 1px var(--backgroundShadow), 3px 3px 0 1px var(--black);
  color: var(--black);
  font-size: 16px;
  font-family: var(--robotoMono);
  cursor: pointer; 
}

.btn-submit:active, .btn-submit:hover {
  transition: var(--smooth);
  background-color: var(--black);
  color: var(--background);
}

.task-content {
  display: flex;
  align-items: center;
  width: 450px;
  word-break: normal;
  overflow-wrap: break-word;
  border: 2px solid var(--black);
  background-color: var(--background);
  margin: 1em;
  padding: 0 1em;
}


.btn-delete {
  background: transparent;
  border: 2px solid var(--black);
  font-weight: 600;
  color: var(--black);
  padding: .25em .5em;
  cursor: pointer;
  margin-left: 1em;
}

.btn-delete:hover {
  transition: var(--smooth);
  background-color: var(--black);
  color: var(--background);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 12px;
  color: var(--background);
  display: none;
}


input[type="checkbox"]:checked {
  background-color: var(--black);
}

input[type="checkbox"]:checked ~ .task-text {
  color: red;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.task-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
}


.task-text {
  flex: 1;
  padding-right: 1em;
}



.error {
  background-color: #E40017;
  color: var(--background);
  font-weight: 600;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;

}

.error p {
  margin-right: 1em;
}

@media (max-width: 768px ) {
  .container {
    margin: 0 1.5em;
  }
  .app {
    margin: 2em 0;
    padding: 0.5em;
    box-shadow: 10px 10px 1px var(--backgroundShadow), 10px 10px 0 2px var(--black);
  }
  .input-task {
    width: 200px;
    margin: 0 .5em;
  }
  .btn-submit {
    padding: 0.25em 0.5em;
    box-shadow: 3px 3px 1px var(--backgroundShadow), 3px 3px 0 1px var(--black);
  }
  .task-content {
    width: 300px;
    word-break: normal;
    overflow-wrap: break-word;
  }
  
  .btn-delete {
    background-color: var(--black);
    color: var(--background);
  }

}

